# Java Class Files
*.class

# Mobile Tools (Android)
*.dex

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IDE folders
.idea/
*.iml
.classpath
.project
.settings/

# Build folders
bin/
out/
target/
build/